<div id="tabs">
  <div class="container clearfix">
    <ul>

  <li id="tab-sitemap" class="current"><a href="#">Site Map</a></li>
  <li id="tab-pages"><a href="#">Pages</a></li>
  <li id="tab-photos"><a href="#">Photos</a></li>
  <li id="tab-notes"><a href="#">Notes</a></li>
  <li id="tab-calendar"><a href="#">Calendar</a></li>
  <li id="tab-files"><a href="#">Files</a></li>

    </ul>
  </div>
</div>