
#tabs ul #tab-sitemap a {
  background-image: url(/images/silk/sitemap_color.png);
  background-position: 8px 8px;
}
#tabs ul #tab-pages a {
  background-image: url(/images/silk/page_green.png);
}
#tabs ul #tab-photos a {
  background-image: url(/images/silk/photos.png);
}
#tabs ul #tab-notes a {
  background-image: url(/images/silk/note_edit.png);
}
#tabs ul #tab-calendar a {
  background-image: url(/images/silk/calendar_view_day.png);
}
#tabs ul #tab-files a {
  background-image: url(/images/silk/folder_page.png);
}