
/* -------------------------------------
   tabs
------------------------------------- */
#tabs {
  margin-top: 2em;
}
#tabs ul {
	margin: 0;
	font-size: 120%;
}
#tabs li {
	display: inline;
	list-style: none;
	border: none;
}
div#tabs a:link, div#tabs a:visited {
  text-decoration: none;
}
#tabs ul a {
	float: left;
	color: #000;
	font-size: 90%;
	background-color: #ccc;
  background-position: 8px 7px;
  background-repeat: no-repeat;
	padding: 0.7em 0.9em 0.7em 28px;
	margin: 0 0.2em 0 0;
	border-bottom: 2px solid #999;
	font-weight: bold;
  -moz-border-radius: 4px 4px 0 0;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
}
#tabs a:hover {
	color: #000;
	background-color: #ace2ed;
	border-bottom-color: #74bdcc;
}
#tabs ul li.current a {
	background-color: #F6F6F6;
	border-bottom: 2px solid #F6F6F6;
	color: #222;
}


/* -------------------------------------
   sub tabs
------------------------------------- */
#sub-nav {
  background: #F6F6F6 url(../images/button_bg.png) 100% 0 repeat-x;
  border-bottom: 1px solid #ccc;
  padding: 0.5em;
  font-size: 80%;
  -moz-border-radius: 0 5px 0 0;
  -webkit-border-top-right-radius: 5px;
}
#sub-nav ul {
	margin: 0;
	font-size: 120%;
}
#sub-nav li {
	display: inline;
	list-style: none;
	border: none;
}
#sub-nav li a {
  float: left;
  color: #333;
  text-decoration: none;
  padding: 0.5em 0.7em;
}
#sub-nav li a:hover {
  background: #e9e9e9;
  color: #000;
}
#sub-nav li.action a {
  float: right;
}
#sub-nav li.action.positive a:hover {
  background: #e9ffe9;
  color: #393;
}
#sub-nav li.action.negative a:hover {
  background: #ffe9e9;
  color: #900;
}
