<div class="pager">
    <form>
        <img src="/images/silk/control_start_blue.png" class="first"/>
        <img src="/images/silk/control_rewind_blue.png" class="prev"/>
        <input type="text" class="pagedisplay"/>
        <img src="/images/silk/control_fastforward_blue.png" class="next"/>
        <img src="/images/silk/control_end_blue.png" class="last"/>
        <select class="pagesize">
                <option  value="20">20</option>
                <option selected="selected" value="40">40</option>
                <option value="60">60</option>
                <option  value="80">80</option>
                <option  value="100">100</option>
                <option  value="1000">HUGE</option>
        </select>
    </form>
</div>
