- form_for @<%= singular_name %> do |f|
  = f.error_messages
  %dl
	  <%- for attribute in attributes -%>
	  %dt
	    = f.label :<%= attribute.name %>
	  %dd
	    = f.<%= attribute.field_type %> :<%= attribute.name %>
	  <%- end -%>
  %p
    = f.submit "Submit"
