<%% form_for @<%= singular_name %> do |f| %>
  <%%= f.error_messages %>

<dl>
<%- for attribute in attributes -%>
  <dt><%%= f.label :<%= attribute.name %> %></dt>
	<dd><%%= f.<%= attribute.field_type %> :<%= attribute.name %> %></dd>
<%- end -%>
</dl>
  <p><%%= f.submit "Submit" %></p>
<%% end %>
