<%% title "Edit <%= singular_name.titleize %>" %>

<%= render_form %>

<%- if actions? :show, :index -%>
<%% content_for :subnav do %>
<%- if action? :show -%>
  <li class="action"><%%= link_to "Cancel Editing", @<%= singular_name %> %></li>
<%- end -%>
<%- if action? :index -%>
  <li class="action"><%%= link_to "View All", <%= plural_name %>_path %></li>
<%- end -%>

<%% end %>

<%- end -%>
